@use "../../styles/mediaQuery.scss" as mq;

.wrapper {
  position: absolute;
  width: 100svw;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
  padding: 16px;
}

.linkItem {
  font-size: 24px;
  font-weight: 400;
  padding: 0 16px;

  color: #fff;
  transition: background 0.3s ease, scale 0.3s ease;

  &:hover {
    background: #000;
    scale: 1.1;
  }

  @include mq.mobile {
    font-size: 18px;
  }
}
